.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 685px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 565px;
  background-image: none;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 46px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 22px 148px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 18px 62px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 59px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 565px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 317px;
  margin: 0 -60px 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-weight: 700;
  padding: 10px 31px 10px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 91px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 5px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 97px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 2px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 29px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 35px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }
}